<main class="quick-padding">



  <form action="/form" method="post" class="form">

    <h1 class="heading-large">
      <span class="heading-secondary">Star Wars Questionnaire</span>
    </h1>

    <!-- Input type="text" -->
    <div class="form-group">
      <label class="form-label" for="input-text">What is your favourite Star Wars film?</label>
      <input class="form-control" id="input-text" type="text" name="film">
    </div>

 



    <div class="form-group">
     Which of these characters are from the Star Wars universe? 
      <label class="block-label" for="checkbox-1">
        <input id="checkbox-1" type="checkbox" name="starwarscharacters" value="Spock">
       Spock
      </label>
      <label class="block-label" for="checkbox-2">
        <input id="checkbox-2" type="checkbox" name="starwarscharacters"  value="Darth Vader">
        Darth Vader
      </label>
      <label class="block-label" for="checkbox-3">
        <input id="checkbox-3" type="checkbox" name="starwarscharacters"  value="Captain Kirk">
       Captain Kirk
      </label>
      
      
       <label class="block-label" for="checkbox-3">
        <input id="checkbox-3" type="checkbox" name="starwarscharacters"  value="Luke Skywalker">
      Luke Skywalker
      </label> <label class="block-label" for="checkbox-3">
        <input id="checkbox-3" type="checkbox" name="starwarscharacters"  value="Rey Mysterio">
       Rey Mysterio
      </label>
      
    </div>

 
   
    <div class="form-group">
     Do you know who Rey’s parents are?
      <label class="block-label" for="radio-1">
        <input id="radio-1" type="radio" name="reysparents" value="Yes">
        Yes
      </label>
      <label class="block-label" for="radio-2">
        <input id="radio-2" type="radio" name="reysparents" value="No">
        No
      </label>
    
    </div>
    
     <div class="form-group">
      <label class="form-label" for="input-text">Who are Rey’s parents?</label>
      <input class="form-control" id="input-text" type="text" name="whoareysparents">
    </div>

<button>Submit</button>
  </form>

</main><!-- / #content -->